@{
    ViewData["Title"] = "Home Page";
}

@if (!User.Identity.IsAuthenticated)
{
    <div>
        <br />
        <h1>Welcome to Newspaper Calculation!</h1>
        <br />
        <h4>You must be logged to use the system.</h4>
        <h4>If you don't have an account, please contact the administrator. </h4>
        <br />
        <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Account" asp-action="Login">Continue To Login</a>
    </div>
}
else
{
    if (User.IsInRole(WebConstants.AdministratorRole))
    {
        <div>
            <br />
            <h1>Newspaper System</h1>
            <br />
            <h3 style="color: darkred">Administrator Area</h3>
        </div>
    }
    else
    {
        if (User.IsInRole(WebConstants.RegularUserRole))
        {
            <div>
                <br />
                <h1>Newspaper System</h1>
                <br />
                <h3 style="color: darkred">Regular User Area</h3>
            </div>
        }
    }

}

