@model IEnumerable<IdentityListUserViewModel>
@{
    ViewData["Title"] = "Manage Users";
}

<h2>Manage Users</h2>

@if (TempData["SuccessMessage"] != null)
{
    <h2 class="text-danger">@TempData["SuccessMessage"]</h2>
}

<br /><br />
<a class="btn btn-primary btn-lg" asp-area="" asp-controller="Identity" asp-action="AddUser">Add new user</a>
<br /><br /><br />

<table class="table table-hover table-responsive">
    <thead>
        <tr style="background: rgb(215,235,255)">
            <th>Username</th>
            <th>e-mail</th>
            <th>Full name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <th>@user.Username</th>
                <th>@user.Email</th>
                <th>@user.FullName</th>
                <th>
                    <a href="/identity/manageroles/@user.Id" style="width: 130px" class="btn btn-success">Manage Roles</a>
                    <a>&emsp;</a>
                    <a href="/identity/resetpassword/@user.Id" style="width: 130px" class="btn btn-warning">Reset Password</a>
                    <a>&emsp;</a>
                    <a href="/identity/deleteuser/@user.Id" style="width: 130px" class="btn btn-danger">Delete User</a>
                </th>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
