@model IdentityDeleteUserViewModel

@{
    ViewData["Title"] = "Delete User";
}

<h2>Are you sure you want to delete user "@Model.Username"?</h2>
<h2>This operation cannot be undone!!!</h2>
<br/>
<br/>

<a href="/identity/destroyuser/@Model.Id" style="width: 100px" class="btn btn-danger btn-lg">YES!</a>
<a>&emsp;&emsp;&emsp;</a>
<a href="/identity/AllUsers" style="width: 100px" class="btn btn-success btn-lg">No</a>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
