@model BaseMaterialDeleteViewModel

@{
    ViewData["Title"] = "Delete Tape";
}

<h2>Are you sure you want to delete selected record?</h2>
<h2>This operation cannot be undone!!!</h2>
<br />
<br />

<a asp-action="DestroyTape" asp-route-id="@Model.Id" style="width: 180px" class="btn btn-danger btn-lg">YES!</a>
<a>&emsp;&emsp;&emsp;</a>
<a asp-action="AllTape" style="width: 180px" class="btn btn-default btn-lg">No</a>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
